{
  "nick": "PLEASE_CHANGE_ME",
  "consumer_key": "",
  "consumer_secret": "",
  "access_token": "",
  "access_token_secret": "",
  "page": "https://en.wikipedia.org/wiki/Wikipedia:Meetup/ArtAndFeminism/Tasks",
  "refresh": 3600
}
